nick: Sparks
user: sparks
real: Jodene Sparks
address: localhost
port: 6667
ssl: No

channels:
    - "#bottest"

plugins: 
    - Weather
    - URLs
    - Reminders
    - Privileges
    - AutoPrivileges
    - Profiles
    - Feeds
    - Help

settings:
    syndbb_name: SynDBB
    syndbb_url: No
    
keys:
    syndbb_key: No
    owm_key: No
    yt_key: No
    twit_consumer_key: No
    twit_consumer_secret: No
    gh_key: No
    gh_secret: No
